/*
@import "Sass/abstracts/";
@import "Sass/base/";
@import "Sass/components/"; 
@import "Sass/layout/";
@import "Sass/vendor/"; 
*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 560px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 359px) {
    html {
      font-size: 50%; } }

body {
  font-family: Poppins; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.jobs-container {
  margin-bottom: 100px; }

.job-card {
  margin: 5rem auto;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative; }
  @media only screen and (max-width: 1140px) {
    .job-card {
      flex-flow: column nowrap;
      width: 665px; } }
  @media only screen and (max-width: 760px) {
    .job-card {
      width: 90%; } }
  .job-card__details {
    justify-self: center;
    height: 100%;
    padding: 20px;
    padding-left: 45px;
    display: flex;
    flex-flow: row nowrap; }
    @media only screen and (max-width: 1140px) {
      .job-card__details {
        width: 460px; } }
    @media only screen and (max-width: 560px) {
      .job-card__details {
        width: 320px;
        padding: 47px 20px 20px; } }
    @media only screen and (max-width: 359px) {
      .job-card__details {
        width: 250px; } }
    .job-card__details-section-1 {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin-left: 20px; }
      @media only screen and (max-width: 560px) {
        .job-card__details-section-1 {
          margin-left: 0px; } }
      .job-card__details-section-1-1, .job-card__details-section-1-2, .job-card__details-section-1-3 {
        height: 33%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center; }
      .job-card__details-section-1-2 {
        cursor: pointer; }
        .job-card__details-section-1-2:hover {
          color: #5da5a4; }
      .job-card__details-section-1-3 {
        justify-content: space-between; }
        .job-card__details-section-1-3 .dot {
          color: #858988;
          margin: 0 10px 16px 10px;
          display: inline-block;
          height: fit-content;
          font-size: 3.0rem; }
          @media only screen and (max-width: 1140px) {
            .job-card__details-section-1-3 .dot {
              margin: 0 0 16px 0; } }
  .job-card__company {
    color: #5da5a4;
    font-weight: 600;
    margin-right: 10px;
    font-size: 1.6rem; }
  .job-card__position {
    font-size: 1.9rem;
    font-weight: 600; }
  .job-card__posted-at, .job-card__contract, .job-card__location {
    font-size: 1.6rem;
    color: #858988; }
  .job-card__logo {
    display: inline-block;
    align-self: center;
    width: 90px;
    height: auto; }
    @media only screen and (max-width: 560px) {
      .job-card__logo {
        position: absolute;
        top: -33px;
        left: 18px;
        width: 66px; } }
  .job-card__new, .job-card__featured {
    text-transform: uppercase;
    padding: 2px 11px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 12px;
    color: #fff; }
  .job-card__featured {
    background-color: #2b3837; }
  .job-card__new {
    background-color: #5da5a4;
    margin-right: 10px; }
  .job-card__line {
    margin: 0px auto;
    border-bottom: 1px solid rgba(133, 137, 136, 0.4);
    width: 80%;
    display: none; }
    @media only screen and (max-width: 1140px) {
      .job-card__line {
        display: inline-block; } }
    @media only screen and (max-width: 560px) {
      .job-card__line {
        width: 90%; } }
  .job-card__keywords {
    align-items: center;
    margin-right: 50px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap; }
    @media only screen and (max-width: 1140px) {
      .job-card__keywords {
        margin-right: 0px;
        padding: 20px 20px 0px 0px; } }
    @media only screen and (max-width: 560px) {
      .job-card__keywords {
        flex-wrap: wrap; } }
    .job-card__keywords-item {
      background-color: #f0fafb;
      color: #5da5a4;
      font-weight: 600;
      font-size: 1.4rem;
      padding: 5px 8px;
      border-radius: 5px;
      margin-left: 15px; }
      @media only screen and (max-width: 1140px) {
        .job-card__keywords-item {
          margin-bottom: 20px;
          margin-left: 20px; } }
      .job-card__keywords-item:hover {
        cursor: pointer;
        background-color: #5da5a4;
        color: #f0fafb; }
  .job-card--featured {
    border-left: 6px solid #5da5a4; }

.jobs-filtering {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  top: 156px;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px; }
  @media only screen and (max-width: 1140px) {
    .jobs-filtering {
      width: 665px; } }
  @media only screen and (max-width: 760px) {
    .jobs-filtering {
      width: 90%; } }
  .jobs-filtering__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .jobs-filtering__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 8px; }
    .jobs-filtering__item:not(:last-child) {
      margin-right: 15px; }
    .jobs-filtering__item-name {
      background-color: #f0fafb;
      color: #5da5a4;
      font-weight: 600;
      font-size: 14px;
      padding: 4px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .jobs-filtering__item-icon {
      cursor: pointer;
      padding: 2px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #5da5a4;
      color: #f0fafb; }
      .jobs-filtering__item-icon:hover {
        background-color: #000; }
  .jobs-filtering__clear {
    cursor: pointer;
    align-self: center;
    color: #858988;
    font-weight: 600;
    font-size: 1.4rem; }
    .jobs-filtering__clear:hover {
      color: #5da5a4;
      border-bottom: 1px solid #5da5a4; }

.section-main {
  background-color: #f0fafb;
  overflow: hidden;
  min-height: 100vh; }

.background-header {
  background-color: #5da5a4; }

/*
responsive till width : 270px ; 
*/
