/*
@import "Sass/abstracts/";
@import "Sass/base/";
@import "Sass/components/"; 
@import "Sass/layout/";
@import "Sass/pages/"; 
*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Poppins; }

.job-card {
  margin: 50px auto;
  width: 83%;
  height: 153px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .job-card__details {
    justify-self: center;
    height: 100%;
    padding: 25px;
    padding-left: 45px;
    display: flex;
    flex-flow: row nowrap; }
    .job-card__details-section-1 {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      margin-left: 20px; }
      .job-card__details-section-1-1, .job-card__details-section-1-2, .job-card__details-section-1-3 {
        height: 33%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center; }
      .job-card__details-section-1-2 {
        cursor: pointer; }
        .job-card__details-section-1-2:hover {
          color: #5da5a4; }
      .job-card__details-section-1-3 {
        justify-content: space-between; }
        .job-card__details-section-1-3 .dot {
          color: #858988;
          margin: 0 10px 16px 10px;
          display: inline-block;
          height: fit-content;
          font-size: 30px; }
  .job-card__company {
    color: #5da5a4;
    font-weight: 600;
    margin-right: 17px; }
  .job-card__position {
    font-size: 19px;
    font-weight: 600; }
  .job-card__posted-at, .job-card__contract, .job-card__location {
    color: #858988; }
  .job-card__logo {
    display: inline-block;
    align-self: center;
    width: 90px;
    height: auto; }
  .job-card__new, .job-card__featured {
    text-transform: uppercase;
    padding: 2px 11px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 12px;
    color: #fff; }
  .job-card__featured {
    background-color: #2b3837; }
  .job-card__new {
    background-color: #5da5a4;
    margin-right: 10px; }
  .job-card__keywords {
    align-items: center;
    margin-right: 50px;
    align-self: center;
    display: flex;
    flex-flow: row nowrap; }
    .job-card__keywords-item {
      background-color: #f0fafb;
      color: #5da5a4;
      font-weight: 600;
      font-size: 14px;
      padding: 5px 8px;
      border-radius: 5px; }
      .job-card__keywords-item:hover {
        cursor: pointer;
        background-color: #5da5a4;
        color: #f0fafb; }
      .job-card__keywords-item:not(:first-child) {
        margin-left: 15px; }
  .job-card--featured {
    border-left: 6px solid #5da5a4; }

.jobs-filtering {
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  top: 156px;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 40px; }
  .jobs-filtering__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .jobs-filtering__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 8px; }
    .jobs-filtering__item:not(:last-child) {
      margin-right: 15px; }
    .jobs-filtering__item-name {
      background-color: #f0fafb;
      color: #5da5a4;
      font-weight: 600;
      font-size: 14px;
      padding: 4px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .jobs-filtering__item-icon {
      cursor: pointer;
      padding: 2px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #5da5a4;
      color: #f0fafb; }
      .jobs-filtering__item-icon:hover {
        background-color: #000; }
  .jobs-filtering__clear {
    cursor: pointer;
    align-self: center;
    color: #5da5a4;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #5da5a4; }

.section-main {
  background-color: #f0fafb;
  overflow: hidden;
  min-height: 100vh; }

.background-header {
  background-color: #5da5a4; }
