$color-primary:#5da5a4 ;
$color-primary-light:#f0fafb ;

$color-secondary:#858988 ;

$color-black:#000 ;
$color-white:#fff ;

$bp-large : '1140px' ;
$bp-medium : '760px' ;
$bp-small : '560px' ; 
$bp-very-small : '359px' ;