
.jobs-filtering{
    width: 83%;
    margin-left:auto;
    margin-right:auto;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-radius: 5px;
    background-color: $color-white;
    box-shadow: 0 .4rem 1rem rgba($color-black, $alpha: .4) ;
    position: absolute;
    left: 50%;
    top: 156px;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    @media only screen and (max-width: $bp-large) {width: 665px;}
    @media only screen and (max-width: $bp-medium) {width: 90%;}
    &__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    &__item{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 5px 8px;
        &:not(:last-child){margin-right : 15px;}    
        &-name{
            background-color: $color-primary-light;
            color: $color-primary;
            font-weight: 600;
            font-size: 14px;
            padding: 4px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;          
        }
        &-icon{
            cursor: pointer;
            padding: 2px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;          
            background-color: $color-primary;
            color: $color-primary-light;
            &:hover{background-color: $color-black;}
        }
    }
    &__clear{
        cursor: pointer;
        align-self: center;
        color: $color-secondary;
        font-weight: 600;
        font-size: 1.4rem; 
        &:hover{
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }
}
