.job-card{
    margin: 50px auto;
    width: 83%;
    margin-left:auto;
    margin-right:auto;

    box-shadow: 0 .4rem 1rem rgba($color-black, $alpha: .4) ;
    border-radius: 5px;
    background-color: $color-white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: relative;
    @media only screen and (max-width: $bp-large) {
        &:first-child{
            margin-top: 75px;
        }
        flex-flow: column nowrap;
        width: 665px;            
    }
    @media only screen and (max-width: $bp-medium) {
        width: 90%;            
    }
    &__details{
        justify-self: center;
        height: 100%;
        padding: 20px; 
        padding-left: 45px;
        display: flex;
        flex-flow: row nowrap;
        @media only screen and (max-width: $bp-large) {
            width: 460px;            
        }   
        @media only screen and (max-width: $bp-small) {
            width: 320px;            
            padding: 47px 20px 20px;
        }   
        &-section-1{
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            margin-left: 20px;
            @media only screen and (max-width: $bp-small) {
                margin-left: 0px;    
            }   
            &-1,&-2,&-3{
               height: 33%;
               display: flex;
               flex-flow: row nowrap;
               align-items: center;
            }
            &-2{
                cursor: pointer;
                &:hover{
                    color: $color-primary;
                }
            }
            &-3{
                justify-content: space-between;
                .dot{
                    color: $color-secondary;
                    margin: 0 10px 16px 10px;
                    display: inline-block;
                    height: fit-content;
                    font-size: 3.0rem;
                }
            }
        }
    }
    &__company{           
        color: $color-primary;
        font-weight: 600;
        margin-right: 17px;
        font-size: 1.6rem;
    }
    &__position{
        font-size: 1.9rem;
        font-weight: 600;
    }
    &__posted-at , &__contract , &__location{
        font-size: 1.6rem;
        color: $color-secondary;
    }
    &__logo{
        display: inline-block;
        align-self: center;
        width: 90px;
        height: auto;
        @media only screen and (max-width: $bp-small) {
            position: absolute ;
            top: -33px;
            left: 10px;
            width: 66px ; 
        }

    }
    &__new,&__featured{
        text-transform: uppercase;
        padding: 2px 11px;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 12px;
        color: $color-white;
    }
    &__featured{background-color: #2b3837;}
    &__new{background-color: $color-primary; margin-right:10px;}
    &__line{
        margin: 0px auto;
        border-bottom: 1px solid rgba($color-secondary, .4) ;
        width: 80%;
        display: none;
        @media only screen and (max-width: $bp-large) {
            display: inline-block;
        }
        @media only screen and (max-width: $bp-small) {
            width: 90%;            
        }   
    }
    &__keywords{
        align-items: center;
        margin-right: 50px;
        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        @media only screen and (max-width: $bp-large) {
            margin-right: 0px;
            padding: 20px 20px 0px 0px;
        }
        @media only screen and (max-width: $bp-small) {
            flex-wrap: wrap;   
        }
        &-item{
            background-color: $color-primary-light;
            color: $color-primary;
            font-weight: 600;
            font-size: 1.4rem;
            padding: 5px 8px;
            border-radius: 5px;
            margin-left: 15px;
            @media only screen and (max-width: $bp-large) {
                margin-bottom: 20px;
                margin-left: 20px;
            }    
            &:hover{
                cursor: pointer;
                background-color: $color-primary;
                color: $color-primary-light;    
            }

        }
    }
    &--featured{border-left: 6px solid $color-primary;}
}