*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    @media only screen and (max-width: $bp-very-small) {
        font-size: 56.25%;
    }
}
body{
    font-family: Poppins;
}